.task {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border: 2px solid;
    padding: 7px;
    border-radius: 10px;
}

.task p {
    padding: 10px 0 0px 18px;
}

.task button {
    padding-right: 22px;
    border: none;
}

.task button i {
    font-size: 28px;
}